.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: 35px;
}

.title-group {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.material-icons {
    padding-right: 7px;
}